body,
button,
input,
select,
textarea {
	margin: 0;
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
	background-color: #fff;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

/**
 * Copy
 */

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.fw-300,
.font-weight-light {
	font-weight: 300 !important;
}
.fw-400,
.font-weight-normal {
	font-weight: 400 !important;
}
.fw-600 {
	font-weight: 600 !important;
}
.fw-700,
.font-weight-bold {
	font-weight: 700 !important;
}
.fw-800 {
	font-weight: 800 !important;
}
.fw-900 {
	font-weight: 900 !important;
}