/**
 * Colors
 */
$color__background-body: #f2f2f2;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #8BC34A;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #8BC34A;
$color__link-visited: purple;
$color__link-hover: #8BC34A;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/**
 * Typography
 */
$font__main: "Montserrat", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/**
 * Structure
 */
$size__site-main: 100%;
$size__site-sidebar: 25%;

/**
 * Breakpoint
 */
$xsmall-devices: 480px;
$phone-size: 768px; /*768 +1 to fix iPad. */
$tablet-size: 992px;
$desktop-size: 1200px;