/**
 * Menu
 */

.site-header {
	padding: 1rem 0;
	
	.site-branding {
		.site-title {
			img {}
		}
		.site-description {
			display: none;
		}
	}

	.navbar-form {
		input[type="text"] {
			padding-left: 1.25rem;
			@include font-size(0.875);
			border-top-left-radius: 2rem;
  			border-bottom-left-radius: 2rem;
		}
	}
}