/*--------------------------------------------------------------
# Medium devices - 992px
--------------------------------------------------------------*/
@media (max-width: $tablet-size - 1) {
	
	.text-right,
	.text-left {
		text-align: center !important;
	}
	
}